.DS_Store
*.DS_Store
package-lock.json
yarn.lock
javascript/node_modules/*
java/build/*
java/dist/*
java/out
java/.gradle
java/nohup.out
java/.idea
build/*
dist/*
*.iml
.vscode/*
*.ini
nohup.out
*.tar
*.zip
*.gradle
*.log
*.err
.sass-cache
