<html>

<head>
	<title>Berry Rc Car</title>
	<style>
		* {
			padding: 0px;
			margin: 0px;
		}

		body {
			background-color: black;
			color: white;
			width: 100vw;
			height: 100vh;
		}
	</style>
	<script type="text/javascript" src="/js/phonePage.js"></script>
	<script>
		function start() {
			const page = new PhonePage();
			page.start('{{fullSwimUrl}}')
		}
	</script>
	<style>
		.vrWrapper {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			padding: 0px;
			margin: 0px 0px;
			flex-grow: 1;
		}

		.leftEye,
		.rightEye {
			height: 100%;
			width: 100%;
			position: relative;
		}

		.coords {
			width: 100%;
			display: flex;
			flex-direction: row;
			font-size: 10px;
			margin: 5px;
			color: rgba(255, 255, 255, 0.2);
		}

		.coords div {
			padding: 0px 5px 0px 2px;
			color: rgba(255, 255, 255, 0.6);
		}

		canvas {
			background-position: center;
			background-repeat: no-repeat;
			background-size: 640px 480px;
			position: absolute;
			top: calc(50% - 240px);
			left: calc(50% - 320px);
		}
	</style>	
</head>

<body onload="start()">


<form style="display: none">
	x: 
	<input type="range" id="tilt" name="volume" value="90" min="0" max="180" oninput="sendCommand('phoneMagX', this.value)" />
	y: 
	<input type="range" id="pan" name="volume" value="180" min="0" max="360" oninput="sendCommand('phoneMagY', this.value)"  />
	z: 
	<input type="range" id="roll" name="volume" value="0" min="-90" max="90" oninput="sendCommand('phoneMagZ', this.value)"  />
</form>	
	<div class="vrWrapper">
		<div class="leftEye">
			<div class="coords">
				X:
				<div id="magnetometerXL"></div>
				Y:
				<div id="magnetometerYL"></div>
				Z:
				<div id="magnetometerZL"></div>
			</div>
			{{!-- <canvas id="leftEyeCanvas" style="background-image: url(http://{{{hostUrl}}}:8081/)"></canvas> --}}
			<canvas id="leftEyeCanvas" width="640" height="480" style="background-image: url(http://192.168.1.106:8081/)"></canvas>
		</div>
		<div class="rightEye">
			<div class="coords">
				X:
				<div id="magnetometerXR"></div>
				Y:
				<div id="magnetometerYR"></div>
				Z:
				<div id="magnetometerZR"></div>
			</div>
			{{!-- <canvas id="rightEyeCanvas" style="background-image: url(http://{{{hostUrl}}}:8082/)"></canvas> --}}
			<canvas id="rightEyeCanvas" width="640" height="480" style="background-image: url(http://192.168.1.106:8082/)"></canvas>
		</div>
	</div>

</body>

</html>