<html>
<head>
	<title>Berry Rc Car</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<style>
		* {
		  padding: 0px;
		  margin: 0px;
		}
		body {
		  background-color: black;
		  color: white;
		  font-family: arial;
		  font-size: 1.3rem;
		  display: flex;
		  flex-direction: row;
		  flex-wrap: wrap;
		}
		h3 {
		  background-color: rgba(50, 50, 200, 0.5);
		  margin-top: 10px;
		}
		.wrapper {
		  width: 420px;

		  padding: 20px;
		  flex-shrink: 0;
		}
		input, select {
		  color: white;
		  background-color: #0C0C0C;
		  border: 0px;
		  padding: 5px;
		  margin: 10px;
		  width: 100%;
		  font-size: 1.3rem;
		  box-shadow: 0px 0px 5px rgba(100, 100, 255, .5);
		}
		td input {
		  border-radius: 50%;
		  width: 50px;
		  height: 50px;
		  line-height: 30px;
		  font-size: 32px;
		}
		input[type=range] {
		  margin: 0px 0px 5px 0px;
		  box-shadow: none;
		}
		#compass {
		  width: 200px;
		  height: 200px;
		  padding: 0px;
		  margin-top: 30px;
		}
		#compassCircle {
		  width: 100%;
		  height: 100%;
		  border-radius: 50%;
		  border: 2px solid red;
		  color: red;
		  text-align: center;
		  padding: 0px;
		  transition: all 0.1s linear;
		  font-size: 62px;
		  box-shadow: 0px 0px 20px rgba(255,50,50,0.7);
		  background-color: #0e0e0e;
		}
		.carOverhead {
		  position: relative;
		  width: 170px;
		  height: 270px;
		  margin: 0px auto;
		}
		.carWheels {
		  border: solid 1px;
		  border-color: red;
		  width: 25px;
		  height: 55px;
		  position: absolute;
		  transition: all 0.1s linear;
		}
		.carFrame {
		  border: solid 1px blue;
		}
		#frontAxle, #backAxle {
		  position: absolute;
		  width: 122px;
		  height: 10px;
		  left: 22px;
		}
		#frontAxle {
		  top: 32px;
		}
		#backAxle {
		  top: 222px;
		}
		#centerAxle {
		  position: absolute;
		  width: 10px;
		  height: 200px;
		  left: 77px;
		  top: 32px;
		}
		#leftFrontWheel {
		  top: 10px;
		  left: 10px;
		}
		#rightFrontWheel {
		  top: 10px;
		  right: 10px;
		}
		#leftBackWheel {
		  bottom: 10px;
		  left: 10px;
		}
		#rightBackWheel {
		  right: 10px;
		  bottom: 10px;
		}
	</style>	

</head>
<body>



 {{{body}}}


</body>
</html>
