* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  color: white;
  font-family: arial;
  font-size: 1.3rem;
  font-family: 'Exo', sans-serif;
}

h3 {
  background-color: rgba(50, 50, 200, 0.5);
  margin-top: 10px;
}

.wrapper,
.wrapper-wide {
  padding: 20px;
  flex-shrink: 0;
}

.wrapper {
  width: 220px;
}

.wrapper-wide {
  width: 420px;
}

input,
select {
  color: white;
  background-color: #0C0C0C;
  border: 0px;
  padding: 5px;
  margin: 10px;
  width: 100%;
  font-size: 1.3rem;
  box-shadow: 0px 0px 5px rgba(100, 100, 255, .5);
}

td input {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 30px;
  font-size: 32px;
}

input[type=range] {
  margin: 0px 0px 5px 0px;
  box-shadow: none;
}