* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: Digital7;
  font-style: normal;
  src: url(/fonts/digital-7-mono.ttf) format("truetype");
}

@font-face {
  font-family: Digital7;
  font-style: italic;
  src: url(/fonts/digital-7-mono-italic.ttf) format("truetype");
}

@font-face {
  font-family: Renner;
  font-style: normal;
  src: url(/fonts/Renner_400.ttf) format("truetype");
}

@font-face {
  font-family: Calculator;
  font-style: normal;
  src: url(/fonts/Calculator.ttf) format("truetype");
}

@font-face {
  font-family: SulphurPoint;
  font-style: normal;
  src: url(/fonts/SulphurPoint-Regular.otf) format("opentype");
}

@font-face {
  font-family: SulphurPoint;
  font-style: bold;
  src: url(/fonts/SulphurPoint-Bold.otf) format("opentype");
}

@font-face {
  font-family: SulphurPoint;
  font-style: light;
  src: url(/fonts/SulphurPoint-Light.otf) format("opentype");
}

@font-face {
  font-family: FreePixel;
  font-style: normal;
  src: url(/fonts/FreePixel.ttf) format("truetype");
}

body {
  background-color: #f0f0f7;
  color: darkslategray;
  font-size: 16pt;
  font-family: SulphurPoint;
}

.wrapper,
.wrapper-wide {
  padding: 20px;
  flex-shrink: 0;
}

.wrapper {
  width: 220px;
}

.wrapper-wide {
  width: 420px;
}

input,
select {
  background-color: transparent;
  border: 0px;
  padding: 5px;
  margin: 3px;
  font-size: 1.3rem;
  font-family: Calculator;
}

input[type="button"] {
  background-color: rgba(0,0,0,0.3);
  transition: all 150ms linear;
  font-size: 1rem;
  font-family: Renner;
  color: ghostwhite;
  border-radius: 5px;
  border: solid 1px rgba(255,255,255,0.7);
}

input[type="button"]:hover {
  background-color: dodgerblue;
}

td input {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 30px;
  font-size: 32px;
}

input[type=range] {
  margin: 0px 0px 5px 0px;
  box-shadow: none;
}

.vrWrapper {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  margin: 0px 0px;
  
  flex-grow: 1;
}

.leftEye,
.rightEye {
  flex-grow: 1;
  display: grid;
}

canvas {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto auto;
  border: solid 1px rgba(100,100,100,0.3);
  background-color: rgba(100,100,100,0.1);
}

.statusHeader {
  background-color: ghostwhite;
  padding: 5px 15px;
  color:darkslateblue;
  box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.2);
  border-bottom: solid 1px rgba(100,100,100,0.3);
  background-image: url(/images/header-bars-white.png);
  background-repeat: no-repeat;
  background-position: 270px center;
}
.compassContainer {
  margin: 10px;
  width: 420px;
  height: 170px;
  display: block;
  position: relative;
}
#compassCircle { 
  border: dashed 15px white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  top: -98px;
  left: 50px;
  transform: perspective(500px) rotateX(72deg) rotateY(0deg) rotateZ(0deg);
  display: grid;
  box-shadow: 0px 0px 5px 2px rgba(100,100,100,0.5);
  background-color: rgba(50,50,50,0.8);
  outline: 1px solid transparent;
  transition: transform 100ms linear;
}

#compassCircle .innerCircle { 
  position: absolute;
  top: 0px;
  left: 0px;
  width: 287px;
  height: 287px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 5px 2px rgba(100,100,100,0.5);
  background-color: ghostwhite;
  border: double 7px rgba(0,0,0,0.8);
  outline: 1px solid transparent;
}

#compassCircle .innerCircle2 { 
  position: absolute;
  top: -21px;
  left: -21px;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px rgba(100,100,100,0.5);
  background-color: transparent;
  border: double 6px rgba(0,0,0,0.8);
  outline: 1px solid transparent;
}

#compassCircle .north,
#compassCircle .south,
#compassCircle .east,
#compassCircle .west {
  font-size: 42px;
  position: absolute;	
  font-weight: bold;
  background-image: url(/images/location-arrow-solid.svg);
  background-repeat: no-repeat;
  background-position: center 40px;
}

#compassCircle .north { 
  top: -70px;
  width: 100%;
  text-align: center;
}
#compassCircle .south { 
  bottom: -70px;
  width: 100%;
  text-align: center;
  transform: rotate(180deg);
}
#compassCircle .east { 
  top: 125px;
  width: 100%;
  right: -195px;
  text-align: center;
  transform: rotate(90deg);
}
#compassCircle .west { 
  top: 125px;
  width: 100%;
  right: 195px;
  text-align: center;
  transform: rotate(270deg);
}

#compassLabel {
  position: absolute;
  top: 5px;
  left: calc(50% - 60px);
}

.numberContainer {
  width: 130px;
  height: 90px;
  text-align: center;
  border-radius: 12px 3px 12px 12px;
  border: solid 3px rgba(0, 0, 0, 0.8);
  background: rgba(100,100,100,0.5);
  overflow: hidden;
  font-family: Digital7;
  position: relative;
  margin-top: 5px;
  margin-right: 5px;
}

#compassValue {
  position: absolute;
  color: greenyellow;
  text-shadow: 1px 1px 0px rgba(50,50,50,0.2);
  top: 15px;
  left: calc(50% - 70px);
  width: 130px;
  height: 90px;
  text-align: center;
  font-size: 62px;
}
.numberContainer #valueLabel {
  background-color: rgba(50,50,50,0.8);
  text-align: right;
  font-size: 14px;
  font-family: Renner;
  padding: 0px 5px;
  color: ghostwhite;
  border-bottom: solid 1px rgba(255, 255,255,0.3);
}
.pageRow {
  display: flex;
  flex-direction: row;
}
.pageRow:first-child {
  border: solid 1px red;
}

.pageRowColumn {
  display: flex;
  flex-direction: column;
}

.dataRow {
  box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.2);
  border-top: solid 1px rgba(100,100,100,0.3);
  border-bottom: solid 1px rgba(100,100,100,0.3);
  padding: 5px;
  background-color: ghostwhite;
}

.small {
  font-size: 12px;
}

.tiltPanCard {
  width: 190px;
  height: 190px;
}

.tiltPanCard .panSliderDiv, .tiltPanCard .tiltSliderDiv {
  position: absolute;
  
}

.tiltPanCard .tiltSliderDiv input[type=range] {
  margin: 0px;
  width: 140px;
}

.tiltPanCard .panSliderDiv input[type=range] {
  margin: 0px;
  width: 150px;
}	

.tiltPanCard .tiltSliderDiv {
  right: -65px;
  top: 80px;
  transform: rotate(270deg);
}

.tiltPanCard .panSliderDiv {
  right: 15px;
  bottom: -5px;
}

.tiltPanValueLabel {
  color: black;
  text-align: left;
  width: 200px;
  font-size: 62px;
  font-size: 27px;
  font-family: Renner;
  padding: 0px 5px;
}

#tiltValueLabel, #panValueLabel {
  color: greenyellow;
  text-shadow: 1px 1px 0px rgba(50,50,50,0.2);
  text-align: center;
  font-size: 62px;
  font-family: Digital7
}